body {
    margin: 0px;
    background-color: rgb(199, 199, 199);
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}
.TopOverlay{
    height: 50px;
    background-color: black;
    color: white;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
    border: white 1px solid;
}
.clearBoth{
    clear: both;
    font-size: 0px;
}
.sandwich{
    font-size: 35px;
    text-decoration: none;
    color: white;
}
.menu{
    display: none;
    font-size: 45px;
    color: rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0px;
    height: 200px;
    width: 450px;
    z-index: 100;
}
.MenuElement{
    color: black;
    text-decoration: none;
}
.saveAndLoad{

    font-size: 45px;
    color: rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    top: 350px;
    left: 150px;
    height: 300px;
    width: 450px;
    z-index: 100;
    line-height: 295px;
    display: none;
}
.textInput{
    height: 30px;
    width: 160px;
    top: 135px;
    font-size: 20px;
    position: absolute;
}
.Submit{
    position: absolute;
    left: 300px;
    height: 50px;
    text-decoration: none;
    top : 150px;
    line-height: 0px;
    color: black;
}
.SaveExit{
    background-color: red;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 420px;
    font-size: 25px;
    top: 0px;
    padding: 0px;
}
.NameLog{
    background-color: rgb(83, 83, 83);
    position: absolute;
    width: 225px;
    height: 30px;
    left: 0px;
    top: 0px;
    line-height: 25px;
    font-size: 25px;
    padding-left: 200px;
    color: white;
}
.ChooseInstruments{
    font-size: 45px;
    color: rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    top: 60px;
    left: 10px;
    height: 500px;
    width: 450px;
    z-index: 100;
    display: none;
    padding-top: 25px;
    border: black 2px solid;
}
.InstrumentGroup{
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(172, 172, 172);
    height: 30px;
    padding-left: 20px;
}
.InstrumentName{
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(206, 206, 206);
    height: 30px;
    
    padding-left: 70px;
}
.ChooseInstrumentsLog{
    font-size: 45px;
    background-color: rgb(192, 192, 192);
    position: absolute;
    top: 30px;
    
    height: 470px;
    width: 450px;
    z-index: 100;    
    overflow-y: scroll;
}
.CheckBox{
    height: 15px;
    width: 15px;
}
.InstrumentsLogBottom{
    font-size: 1px;
    background-color: rgb(110, 110, 110);
    position: absolute;
    top: 500px;
    left: 0px;
    height: 25px;
    width: 450px;  
    margin: auto; 
    text-align: center;    
}
.okButton{
    width: 150px;
}
.beatCanvas{
    background-color: rgb(110, 110, 110);
    position: absolute;
    top: 75px;
    left: 25px;
    height: 90%;
    width: 97%;  
}